$main-color: #0f172a;
$light-main-color: rgba(30, 41, 59, 0.4);
$light-blue: #22d3ee;
$brand-color: #0ea5e9;
$error-color: rgb(195, 60, 60);
$error-color-light: rgb(218, 50, 50);
$text-color: #cbd5e1;
$border-color: #adb7c3;
$text-color-light: #f8fafc;
$card-color: #1e293b;
$card-color-light: #313c4e;
$text-gray-color: #9ca3af;
