@mixin linear-background-brand {
    background: linear-gradient(270deg, #22d3ee 50%, #0ea5e9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@mixin linear-background-brand2 {
    background: linear-gradient(270deg, #0ea5e9 50%, #22d3ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@mixin background-brand-color {
    background: linear-gradient(270deg, #18b2c9 30%, #056693 100%);
}

@mixin title-home-page {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #ffffff;

    @media screen and (max-width: 560px) {
        font-size: 24px;
        line-height: 26px;
    }
}

@mixin main-link-app {
    .main-link-app {
        width: fit-content;
        display: flex;
        align-items: center;

        .app-name {
            font-weight: 700;
            font-size: 30px;
            margin-left: 8px;
            @include linear-background-brand;

            @media screen and (max-width: 560px) {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}

@mixin posts-grid-block {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    grid-gap: 20px;
    margin-top: 60px;

    @media screen and (max-width: 750px) {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    @media screen and (max-width: 460px) {
        grid-template-columns: repeat(2, minmax(160px, 1fr));
        grid-gap: 12px;
        margin-top: 24px;
    }

    @media screen and (max-width: 360px) {
        grid-template-columns: repeat(1, 220px);
        justify-content: center;
    }
}
